.project .row
{
	margin-top : -20%;
}

.project img
{
	width  : 100%;
	height : auto;
}

.carousel-prev,
.carousel-next
{
	position        : absolute;
	top             : 25%;
	width           : 35px;
	height          : 64px;
	border          : none;
	padding         : 0;
	background      : url(../imgs/carousel-arrow.png) center no-repeat;
	background-size : cover;
}

.carousel-prev
{
	left              : -77px;
	-webkit-transform : rotate(180deg);
	-moz-transform    : rotate(180deg);
	-ms-transform     : rotate(180deg);
	-o-transform      : rotate(180deg);
	transform         : rotate(180deg);
}

.carousel-next
{
	right : -77px;
}